@charset "UTF-8";

.size10 {
    font-size: 10pt;
}

.size9 {
    font-size: 9pt;
}

.size20 {
    font-size: 20pt;
    font-variant: small-caps;
    margin-bottom: 10px;

}

.size15 {
    font-size: 15px;
}

.size8 {
    font-size: 8px;
}

.text {
    margin-bottom: 10px;
}